<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="alien" class="com.nikhil.Spring1.Alien" autowire="byType">
    
		<property name="age" value="245"></property>
		<!--  <property name="com" ref="com"></property>	-->	
		
		<!--	<constructor-arg name="age" value="245" />
				<constructor-arg name="lap" ref="lap1"/>  -->
		
		<!--	<constructor-arg index="1" ref="lap1"/>
				<constructor-arg index="0" value="245"/>  -->
		
	</bean>
	
	<bean id="com1" class="com.nikhil.Spring1.Laptop" primary="true"> </bean>
	<bean class="com.nikhil.Spring1.Desktop"> </bean>
	
</beans>




